layout {
  default_tab_template {
    pane size=1 borderless=true {
      plugin location="zellij:tab-bar"
    }
    children
    pane size=2 borderless=true {
      plugin location="zellij:status-bar"
    }
  }

  tab name="console" {
    pane split_direction="vertical" {
      pane name="console.doc" command="nvim" {
        args "."
      }
      pane split_direction="horizontal" {
        pane name="concole.agent" command="opencode"
        pane size="32%"
      }
    }
  }

  tab name="edit" {
    pane split_direction="horizontal" {
      pane name="edit.main" command="nvim" {
        args "."
      }
      pane size="32%"
    }
  }

  tab name="build" {
    pane split_direction="vertical" {
      pane name="build.script"
      pane split_direction="horizontal" {
        pane name="build.linux"
        pane name="build.macos"
        pane name="build.windows"
      }
    }
  }

  tab name="observe" {
    pane split_direction="vertical" {
      pane split_direction="horizontal" {
        pane name="observe.run"
        pane name="observe.monitor"
      }
      pane name="observe.test"
    }
  }

  tab name="archive" {
    pane split_direction="horizontal" {
      pane name="archive.commit" command="lazygit"
      pane name="archive.misc" size="32%"
    }
  }
}
