"$schema" = 'https://starship.rs/config-schema.json'

format = """
$username\
$directory\
$git_branch\
$git_status\
$line_break\
$character\
"""

[username]
show_always = true

[directory]
truncate_to_repo = true
